<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed visible-xs" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" ui-sref="home"><img src="frontend/img/logo.png" alt="logo" width="20"> </a>-->
                <a class="navbar-brand" ui-sref="home">
                    <div class="navbar-toggle">
                        <div class="icon_float">
                            <span class="icon-bar icon_bar1"></span>
                            <span class="icon-bar icon_bar2"></span>
                            <span class="icon-bar icon_bar3"></span>
                        </div>
                    </div>
                    <i class="fa fa-camera" aria-hidden="true"></i>Clickmania
                </a>
            </div>
            <!--<div class="collapse navbar-collapse" id="nav-collapse">
                <div ng-include="template.menu" class="template menu"></div>
            </div>-->
            <div class="col-md-4 col-md-offset-2">
                <!--search bar-->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for photographer">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                           <i class="fa fa-search" aria-hidden="true"></i>
                       </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--user name with img-->
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <span>Sign up as photographer</span>
            </div>
        </div>
    </nav>
</header>
<div class="sample"></div>
<div class="sample"></div>