<div class="container pad60">
    <div class="head-name">
        <div class="ht30">
            <img src="frontend/img/clickm/6.png" class="imgwt" alt="">
            <h1 class="fith damionr ft100">Join to become a</h1>
        </div>
        <h1 class="sech damionr ft100">Featured photographer</h1>
        <p class="hctl">You could be a featured photographer on Clickmania and come under the lens of those who would love to harness your services. For as low as Rs. 1000 you could shoecase your work for a month.</p>
    </div>
    <!-- START SELECT TAB -->
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="full-tabs pad60 list-inline">
                <li ng-class="{'active': activeTab == 1}" ng-click="toggleTab(1)">STEP 1</li>
                <li ng-class="{'active': activeTab == 2}" ng-click="toggleTab(2)">STEP 2</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="row mr15 light-grey">
                <div class="col-md-12 text-center">
                    <h1 class="damionr orange-color forml">Sign up</h1>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" aria-label="..." placeholder="First Name">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" aria-label="..." placeholder="Email id">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" aria-label="..." placeholder="Password">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" aria-label="..." placeholder="Confirm">
                </div>
                <div class="col-xs-12">

                    <p><span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span><a href="#" class="btn btn-default" role="button">Button</a></p>
                    <br>
                    <hr class="style17 text-center">
                    <br>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mr15 light-grey">
              <div class="col-md-12 text-center">
                  <h1 class="damionr orange-color forml">Login</h1>
              </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" aria-label="..." placeholder="First Name">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" aria-label="..." placeholder="Email id">
                </div>
                <div class="col-md-12">
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    <br>
                    <hr class="style17">
                    <br>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
