<div class="photographer-page">
  <div class="profile-banner">
<img src="frontend/img/photographer/prof-bg.jpg" alt="" class="img-responsive">
<div class="container">
  <div class="profile-block">
<div class="holder1 display-inline">
  <img src="frontend/img/photographer/small-logo.png" alt="" class="img-responsive sm-logo">
  <div class="profile-holder">
    <img src="frontend/img/photographer/profile.png" alt="" class="img-responsive prof-img">

    <div class="upload-trans">upload</div>
  </div>
    <div class="quarter-circle"></div>

</div>
<div class="name-sec display-inline"><span>Rahul Mallesh</span></div>
</div>

  <!-- dosis-light  for name -->

</div>
  <div class="select-box">
<div class="container">
<div class="row">
  <div class="col-md-offset-3 col-md-6">
<div class="btn-1">
   <!-- dosis regular -->
  <button type="button" class="btn btn-default btn-select">ABOUT</button>
      <div class="under-down"></div>
  <div class="under-line">
    <img src="frontend/img/photographer/under.png" alt="" class="img-responsive">
  </div>
</div>
<div class="btn-1">
  <button type="button" class="btn btn-default btn-select">WORK</button>
      <div class="under-down"></div>
  <div class="under-line">
    <img src="frontend/img/photographer/under.png" alt="" class="img-responsive">
  </div>
</div>
<div class="btn-1">
  <button type="button" class="btn btn-default btn-select">HISTORY</button>
      <div class="under-down"></div>
  <div class="under-line">
    <img src="frontend/img/photographer/under.png" alt="" class="img-responsive">
  </div>
</div>
    </div>
</div>
</div>
</div>
<!-- dosis-medium for categories -->
<div class="container">
  <div class="row">
  <div class="about-desc">
    <div class="about-head text-capitalize">about rahul mallesh<img src="frontend/img/photographer/form/edit-white.png" alt="" class="img-responsive display-inline pull-right"></div>
    <div class="abt-form">
      <form action="" class="form-horizontal">
        <div class="form-group">

  <label for="name" class="">
     <img src="frontend/img/photographer/form/user.png" alt="" class="img-responsive display-inline">Name:</label>
<div class="display-inline">
  <input type="text" class="form-control" id="name">
</div>
 </div>
        <div class="form-group">
   <label for="name" class="">
 <img src="frontend/img/photographer/form/loc.png" alt="" class="img-responsive display-inline">
     Location:</label>
  <div class="display-inline">
     <input type="text" class="form-control" id="location">
  </div>
 </div>
        <div class="form-group">
   <label for="speciality" class="">
 <img src="frontend/img/photographer/form/cam.png" alt="" class="img-responsive display-inline">
     Speciality:</label>
   <div class="display-inline">
     <input type="text" class="form-control" id="speciality">
   </div>
 </div>
        <div class="form-group">
   <label for="bio" class="vat">
      <img src="frontend/img/photographer/form/edit.png" alt="" class="img-responsive display-inline">Bio:</label>
  <div class="inline">
     <textarea class="form-control text-set" id="bio" rows="4"></textarea>
  </div>
</div>
<div class="form-group">
<label for="Pricing" class="">
  <img src="frontend/img/photographer/form/tag.png" alt="" class="img-responsive display-inline">
  Pricing:</label>
<div class="display-inline">
  <input type="text" class="form-control" id="pricing">
</div>
</div>
      </form>
    </div>
  </div>
</div>

<!-- secondpart -->
<!-- secondpart -->
<div class="row">
<div class="about-desc">
  <div class="about-head text-capitalize">Membership</div>
  <div class="abt-2">
    <div class="red-sec"><p>
      You are currently registered as a free user
    </p></div>
    <div class="upgrade-sec">
      <p class="text-uppercase">Upgrade to the following premium packages</p>
    </div>
    <div class="upgrade-pkg">
      <div class="row">
        <div class="col-md-6 text-center">
          <img src="frontend/img/photographer/award-symbolcopy2.png" alt="" class="img-responsive display-inline">
        <div class="display-inline">
            <span class="display-block">Silver Package</span>
          <span class="display-block">Rs 2300</span>
        </div>
        </div>
        <div class="col-md-6 border-divider">
          <ul>
            <li>30 photos</li>
            <li>2mb per photo</li>
            <li>Photos can be edited by you</li>
            <li>Valid for 1 year</li>
          </ul>
        </div>
      </div>
<button type="button" class="btn btn-default btn-full">UPGRADE NOW</button>
    </div>
    <br>
    <div class="upgrade-pkg2 gold">
      <div class="row">
        <div class="col-md-6 text-center">
          <img src="frontend/img/photographer/award-symbolcopy2.png" alt="" class="img-responsive display-inline">
        <div class="display-inline">
            <span class="display-block">Gold Package</span>
          <span class="display-block">Rs 3400</span>
        </div>
        </div>
        <div class="col-md-6 border-divider">
          <ul>
            <li>100 photos</li>
            <li>3mb per photo</li>
            <li>Photos can be edited by you</li>
            <li>Valid for 1 year</li>
          </ul>
        </div>
      </div>
      <button type="button" class="btn btn-default btn-full">UPGRADE NOW</button>
    </div>
    <br>
  </div>
</div>
</div>
<!-- end -->
</div>

  </div>
</div>
