<div class="photographer-page">
  <div class="profile-banner">
<img src="frontend/img/photographer/prof-bg.jpg" alt="" class="img-responsive">
<div class="container">
  <div class="profile-block">

    <img src="frontend/img/photographer/small-logo.png" alt="" class="img-responsive sm-logo">
    <div class="profile-holder">
      <img src="frontend/img/photographer/profile.png" alt="" class="img-responsive prof-img">

      <div class="upload-trans">upload</div>
    </div>
      <div class="quarter-circle"></div>
  </div>
</div>
  <div class="select-box">
<div class="container">
<div class="row">
  <div class="col-md-offset-3 col-md-6">
<div class="btn-1">
  <button type="button" class="btn btn-default btn-select">ABOUT</button>
      <div class="under-down"></div>
  <div class="under-line">
    <img src="frontend/img/photographer/under.png" alt="" class="img-responsive">
  </div>
</div>
<div class="btn-1">
  <button type="button" class="btn btn-default btn-select">WORK</button>
      <div class="under-down"></div>
  <div class="under-line">
    <img src="frontend/img/photographer/under.png" alt="" class="img-responsive">
  </div>
</div>
<div class="btn-1">
  <button type="button" class="btn btn-default btn-select">HISTORY</button>
      <div class="under-down"></div>
  <div class="under-line">
    <img src="frontend/img/photographer/under.png" alt="" class="img-responsive">
  </div>
</div>
    </div>
</div>
</div>
</div>

  </div>
</div>
