<div class="photographer-page">
  <div class="profile-banner">
<img src="frontend/img/photographer/prof-bg.jpg" alt="" class="img-responsive">
<span class="change-cover"><img src="frontend/img/photographer/form/edit-white.png" alt="" class="img-responsive display-inline">Upload Cover Photo</span>
<div class="container">
  <div class="profile-block">
<div class="holder1 display-inline">
  <img src="frontend/img/photographer/small-logo.png" alt="" class="img-responsive sm-logo">
  <div class="profile-holder">
    <img src="frontend/img/photographer/profile.png" alt="" class="img-responsive prof-img">

    <div class="upload-trans"><span><img src="frontend/img/photographer/form/edit-white.png" alt="" class="img-responsive display-inline">Upload Profile Pic</span></div>
  </div>
    <div class="quarter-circle"></div>

</div>
<div class="name-sec display-inline"><span>Rahul Mallesh</span></div>
</div>

  <!-- dosis-light  for name -->

</div>
  <div class="select-box">
<div class="container">
<div class="row">
  <div class="col-md-offset-3 col-md-6">
<div class="btn-1">
   <!-- dosis regular -->
  <button type="button" class="btn btn-default btn-select">ABOUT</button>
      <div class="under-down"></div>
  <div class="under-line">
    <img src="frontend/img/photographer/under.png" alt="" class="img-responsive">
  </div>

</div>
  <span class="border-line"></span>
<div class="btn-1">
  <button type="button" class="btn btn-default btn-select">WORK</button>
      <div class="under-down"></div>
  <div class="under-line">
    <img src="frontend/img/photographer/under.png" alt="" class="img-responsive">
  </div>
</div>
<span class="border-line"></span>
<div class="btn-1">
  <button type="button" class="btn btn-default btn-select">HISTORY</button>
      <div class="under-down"></div>
  <div class="under-line">
    <img src="frontend/img/photographer/under.png" alt="" class="img-responsive">
  </div>
</div>
    </div>
</div>
</div>
</div>
<!-- dosis-medium for categories -->
<div class="container">
  <div class="row">
  <div class="about-desc">
    <div class="about-head text-capitalize">about rahul mallesh<img src="frontend/img/photographer/form/edit-white.png" alt="" class="img-responsive display-inline pull-right img-edit"></div>
    <div class="abt-form">
      <form action="" class="form-horizontal">
        <div class="form-group">

  <label for="name" class="">
     <img src="frontend/img/photographer/form/user.png" alt="" class="img-responsive display-inline">Name:</label>
<div class="display-inline">
  <input type="text" class="form-control" id="name" placeholder="Please enter your full name">
</div>
 </div>
        <div class="form-group">
   <label for="name" class="">
 <img src="frontend/img/photographer/form/loc.png" alt="" class="img-responsive display-inline">
     Location:</label>
    <div class="selected-option display-inline">
      <span>Mumbai</span>
      <div class="close-btn">x</div>
    </div>
    <i class="fa fa-plus" aria-hidden="true"></i>
  <!-- <div class="display-inline">
     <input type="text" class="form-control" id="location">
  </div> -->
 </div>
        <div class="form-group">
   <label for="speciality" class="">
 <img src="frontend/img/photographer/form/cam.png" alt="" class="img-responsive display-inline">
     Speciality:</label>

     <p class="check-box">
       <input type="checkbox" id="test1"/>
       <label for="test1" class="check-label">Underwater</label>
     </p>
     <p class="check-box">
       <input type="checkbox" id="test2"/>
       <label for="test2" class="check-label">Wedding</label>
     </p>
     <p class="check-box">
       <input type="checkbox" id="test3"/>
       <label for="test3" class="check-label">Food</label>
     </p>
     <p class="check-box">
       <input type="checkbox" id="test4"/>
       <label for="test4" class="check-label">Wildlife</label>
     </p>
     <p class="check-box">
       <input type="checkbox" id="test5"/>
       <label for="test5" class="check-label">Others</label>
     </p>


   <!-- <div class="display-inline">
     <input type="text" class="form-control" id="speciality">
   </div> -->
 </div>
        <div class="form-group">
   <label for="bio" class="vat">
      <img src="frontend/img/photographer/form/edit.png" alt="" class="img-responsive display-inline">Bio:</label>
  <div class="inline">
     <textarea class="form-control text-set" id="bio" rows="5" placeholder="Describe yourself as a photographer in less than 250 characters"></textarea>
  </div>
</div>
<div class="form-group">
<label for="Pricing" class="">
  <img src="frontend/img/photographer/form/tag.png" alt="" class="img-responsive display-inline">
  Pricing:</label>
<div class="display-inline">
  <input type="text" class="form-control" id="pricing" placeholder="Give an estimate of the fee you charge">
</div>
</div>
<div class="sub-sec text-center">
  <button type="submit" class="btn btn-default">Done</button>
</div>
      </form>
    </div>
  </div>
</div>

<!-- secondpart -->

<div class="row">
<div class="about-desc">
  <div class="about-head text-capitalize">Membership</div>
  <div class="abt-2">
    <div class="red-sec"><p>
      You are currently registered as a free user
    </p></div>
    <div class="upgrade-sec">
      <p class="text-uppercase">Upgrade to the following premium packages</p>
    </div>
    <div class="upgrade-pkg">
      <div class="row">

        <div class="col-md-6 text-center">
          <div class="package-card">
            <img src="frontend/img/photographer/award-symbolcopy2.png" alt="" class="img-responsive display-inline">
          <div class="display-inline pkg-info">
              <span class="display-block package-name">SILVER PACKAGE</span>
            <span class="display-block package-price">&#8377; 2300 plus taxes</span>
          </div>
          </div>

        </div>
        <div class="col-md-6 border-divider">
          <ul>
            <li>30 photos</li>
            <li>2mb per photo</li>
            <li>Photos can be edited by you</li>
            <li>Valid for 1 year</li>
          </ul>
        </div>
      </div>
<button type="button" class="btn btn-default btn-full">UPGRADE NOW</button>
    </div>
    <br>
    <div class="upgrade-pkg2 gold">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="package-card">
            <img src="frontend/img/photographer/award-symbolcopy2.png" alt="" class="img-responsive display-inline">
          <div class="display-inline pkg-info">
              <span class="display-block package-name">GOLD PACKAGE</span>
            <span class="display-block package-price">&#8377; 3400 plus taxes</span>
          </div>
          </div>

        </div>
        <div class="col-md-6 border-divider">
          <ul>
            <li>100 photos</li>
            <li>3mb per photo</li>
            <li>Photos can be edited by you</li>
            <li>Valid for 1 year</li>
          </ul>
        </div>
      </div>
      <button type="button" class="btn btn-default btn-full">UPGRADE NOW</button>
    </div>
    <br>
  </div>
</div>
</div>
<!-- end -->
</div>

  </div>
</div>
