<div class="container-fluid pad0">
    <div class="head-section">
        <img src="frontend/img/clickm/bg1.jpg" alt="" class="img-responsive">
        <div class="row googleb">
            <div class="col-md-12 text-center">
                <ul class="full-tabs2 list-inline">
                    <li ng-class="{'active': activeTab == 1}" ng-click="toggleTab(1)">ABOUT
                        <img src="frontend/img/photographer/under.png" alt="" class="img-responsive">
                    </li>
                    <span class="border-line"></span>
                    <li ng-class="{'active': activeTab == 2}" ng-click="toggleTab(2)">WORK
                        <img src="frontend/img/photographer/under.png" alt="" class="img-responsive"></li>
                    <span class="border-line"></span>
                </ul>
            </div>
        </div>
        <div class="">
          <div class="border-half">
              <img src="{{list.profile}}" alt="" class="img-responsive prof-img">
          </div>
        </div>
    </div>
</div>
<!-- dosis-medium for categories -->
<div class="container">
    <div class="row">
        <div class="about-desc">
            <div class="about-head text-capitalize">about rahul mallesh<img src="frontend/img/photographer/form/edit-white.png" alt="" class="img-responsive display-inline pull-right img-edit"></div>
            <div class="abt-form">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="">
                          <img src="frontend/img/photographer/form/user.png" alt="" class="img-responsive display-inline">Name:</label>
                        <div class="display-inline">
                            <input type="text" class="form-control" id="name" placeholder="Please enter your full name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="">
                            <img src="frontend/img/photographer/form/loc.png" alt="" class="img-responsive display-inline">
                            Location:</label>
                        <div class="selected-option display-inline">
                            <span>Mumbai</span>
                            <div class="close-btn">x</div>
                        </div>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="form-group">
                        <label for="speciality" class="">
                          <img src="frontend/img/photographer/form/cam.png" alt="" class="img-responsive display-inline">
                          Speciality:</label>

                        <p class="check-box">
                            <input type="checkbox" id="test1" />
                            <label for="test1" class="check-label">Underwater</label>
                        </p>
                        <p class="check-box">
                            <input type="checkbox" id="test2" />
                            <label for="test2" class="check-label">Wedding</label>
                        </p>
                        <p class="check-box">
                            <input type="checkbox" id="test3" />
                            <label for="test3" class="check-label">Food</label>
                        </p>
                        <p class="check-box">
                            <input type="checkbox" id="test4" />
                            <label for="test4" class="check-label">Wildlife</label>
                        </p>
                        <p class="check-box">
                            <input type="checkbox" id="test5" />
                            <label for="test5" class="check-label">Others</label>
                        </p>

                    </div>
                    <div class="form-group">
                        <label for="bio" class="vat">
                            <img src="frontend/img/photographer/form/edit.png" alt="" class="img-responsive display-inline">Bio:</label>
                        <div class="inline">
                            <textarea class="form-control text-set" id="bio" rows="5" placeholder="Describe yourself as a photographer in less than 250 characters"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Pricing" class="">
                            <img src="frontend/img/photographer/form/tag.png" alt="" class="img-responsive display-inline">
                            Pricing:</label>
                        <div class="display-inline">
                            <input type="text" class="form-control" id="pricing" placeholder="Give an estimate of the fee you charge">
                        </div>
                    </div>
                    <div class="sub-sec text-center">
                        <button type="submit" class="btn btn-default">Done</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- secondpart -->
</div>
