<section>
  <div class="close-modal pull-right" ng-click="$dismiss()">x</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="" alt="" class="img-responsive">
    </div>
    <div class="col-md-6">
      <span>Upload Picture</span>
      <div class="select_join" style="margin-left:15px">
  <select name="txtCountry">
    <option>-- Select Country --</option>
    <option value="1">Georgia</option>
    <option value="2">Afghanistan</option>
  </select>
</div>
    </div>
  </div>
</div>
</section>
