@font-face {
    font-family: 'Dosis-Regular';
    src: url("../fonts/Dosis-Regular_0.ttf");
}

.damionr {
    font-family: 'Damion-Regular';
}
@font-face {
    font-family: 'hctl';
    src: url("../fonts/HELVETICALT-LIGHT.OTF");
}

.dosisl {
    font-family: dosis-Light;
}

.hctl {
    font-family: hctl;
}

.light-grey {
    background-color: #f6f6f6;
}

.orange-color {
    color: $orangeColor;
}

.white-color {
    color: $whiteColor;
}

.img-min-h {
    min-height: 160px;
}

.forml {
    padding: 36px 0;
    margin: 0;
}

.mr15 {
    margin: 0 15px;
}

.full-tabs {
    margin: 0;

    li {
        padding: 2px 40px;
        border-color: transparent;
        margin-right: 10px;
        font-size: 30px;
        cursor: pointer;
        color: #ffffff;
        background-color: lightgrey;

        &.active,
        :hover {
            background-color: #f15a29;
            color: white;
        }
    }
}

.full-tabs2 {
    margin: 0;

    .border-line {
        border: 2px solid;
        padding: 21px 0 0;
        color: #fff;
        border-radius: 6px;
    }

    li {
        padding: 0 40px;
        margin-bottom: -2px;
        border-radius: 3px;
        border-color: transparent;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 48px;
        cursor: pointer;
        color: #ffffff;
        border-bottom: 5px solid transparent;
        position: relative;

        img {
            display: none;
        }

        &.active {
            border-bottom: 5px solid black !important;
            color: white;

            img {
                display: block;
                position: absolute;
                left: 50%;
                transform: translate(-42%, -43%);
                z-index: 999999;
            }
        }
    }
}

.border-hr {
    border-top: 1px solid #bfbfbf;
    margin-left: 32%;
    margin-right: 32%;
}

hr.border-hr:after {
    content: 'Or';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f6f6f6;
    color: #8c8b8b;
    font-size: 18px;
    font-family: helveticalt-narrow;
}

.font70 {
    font-size: 70px;
}

.head-name {
    text-align: center;

    .ht30 {
        display: inline-block;
        height: 130px;

        .imgwt {
            position: absolute;
            transform: rotate(59deg);
            width: 150px;
        }

        .fith {
            margin-top: 61px;
            padding-left: 42px;
            z-index: 9;
            position: relative;
            color: black;
            display: inline-block;
        }
    }

    p {
        margin: 0;
        padding: 38px 98px 0;
        font-size: 22px;
        text-align: justify;
    }

    .sech {
        line-height: 70px;
        margin: 0;
        color: $orangeColor;
    }
}

.ft100 {
    font-size: 100px;
}

.pad60 {
    padding: 60px 0;
}

.reg-btn {
    font-family: dosis-Light;
    border-bottom: 2px solid rgba(241, 90, 41, 0.19);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
    font-weight: normal;
    color: #fff !important;
    background: #f6f6f6;
    margin-bottom: 15px;

    &:active,
    :focus,
    :hover {
        box-shadow: none;
        border-color: #f15a29 !important;
    }
}

.reg-btn:focus {
    box-shadow: none;
    border-color: #f15a29 !important;
}

.orange-btn {
    font-family: dosis-Light;
    color: #fff;
    background-color: #f15a29;
    border: none;
    border-radius: 4px;
    padding: 6px 45px;
}

.orange-btn:focus,
.orange-btn:hover {
    color: #fff;
    background-color: #f15a29;
    outline: none !important;
    box-shadow: none;
}

.whit-btn {
    font-family: dosis-Light;
    color: #f15a29;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 45px;
}

.whit-btn:focus,
.whit-btn:hover {
    color: #f15a29;
    background-color: #ffffff;
    outline: none !important;
    box-shadow: none;
}

.mr40 {
    margin: 40px 0;
}

.min-h {
    min-height: 416px;
}

.facek {
    background-color: #3b5997;
}

.fspan {
    background-color: #354f88;
}

.googleb {
    background-color: #f15a29;
}

.googlespan {
    background-color: #ce3e26;
}

.btn-social {
    margin: 0 13px;
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-family: dosis-Light;

    span {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
    }
}

.btn-social:focus,
.btn-social:hover {
    color: #fff;
    outline: none;
}

.flink {
    font-family: dosis-Light;
    float: right;
    color: #676666 !important;
    font-size: 17px;
    text-decoration: none !important;
}

.list {
    list-style: none;

    li::before {
        content: "• ";
        color: #f15a29;
        font-size: 15px;
        padding-right: 3px;
    }
}

.intro-con {
    margin: 0;
    font-size: 26px;
    text-align: justify;
    font-weight: 100;
}

.intro {
    margin-top: -35px;

    strong {
        font-family: helveticalt-narrow;
        font-weight: 600;
    }
}

.list {
    background-image: url("/../frontend/img/clickm/11.png");
    background-repeat: no-repeat;
    background-position: 100% 46%;
    background-size: 34% 100%;

    li {
        margin-left: -18px !important;
        padding-bottom: 5px;
    }

    h2 {
        font-family: 'Damion-Regular';
        font-size: 55px;
        color: #f15a29;
        margin: 0;
    }
}

.pad100 {
    padding: 0 100px;
}

.users {
    .thumbnail {
        margin: 50px 0;
        position: relative;
        padding: 0;
        border: none;

        .img-min-h {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .border-line2 {
            border-top: 1px solid #f15a29;
            margin: 0;
        }

        hr.border-line2:after {
            content: '';
            position: relative;
            top: -10px;
            color: #8c8b8b;
            font-family: helveticalt-narrow;
            background-size: cover;
            display: inline-block;
            width: 19px;
            height: 19px;
            background-image: url("/../frontend/img/clickm/7.png");
            background-repeat: no-repeat;
        }

        .caption {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .title {
                font-family: dosis-Light;
                margin: 0;
                color: #fff;
                text-align: center;
                font-size: 26px;
                padding: 10px 0;

                .border-line {
                    border: 1px solid #fff;
                }
            }

            .title-intro {
                font-size: 14px;
                font-family: hctl;
                padding: 0 20px;
            }
        }

        .user-icon {
            position: absolute;
            left: 0;
            top: -30px;
            right: 0;
        }
    }
}

.border-half {
    border: 7px solid #f15a29;
    border-radius: 50%;
    width: 150px;
    padding: 5px;
    margin: auto;
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    transform: rotate(57deg);
}

.prof-img {
    border-radius: 50%;
    width: 125px;
    border: 3px solid #f15a29;
    transform: rotate(-57deg);
}

.sub-main {
    position: relative;
    padding: 10px 0 60px;

    .sub-title {
        position: absolute;
        top: 62px;
        right: 70px;

        .fith {
            margin: 0;
            line-height: 57px;
            padding-right: 62px;
        }

        .sech {
            margin: 0;
            text-align: right;
        }

        button {
            margin-top: 15px;
        }
    }
}

.pad0 {
    padding: 0 !important;
}
