.full-tabs {
    margin: 0;

    li {
        padding: 15px 25px 12px;
        border-bottom: 3px solid;
        border-color: transparent;
        margin-right: 10px;
        font-size: 15px;
        cursor: pointer;
        color: #989898;

        &.active,
        :hover {
            background-color: #fff;
            color: $blue;
            border-color: $blue;
            font-weight: bold;
        }
    }
}
hr.style17:after {
	content: 'Or';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}
.ht30{    height: 130px;}
.imgwt{    width: 150px;
    padding-bottom: 128px;}
    .fith{  background-color: black; display: inline;
    margin-left: -79px;}
    .secndh{background-color: red;}
