.photographer-page{
  background-color: #f1f1f1;
}

  .change-cover{
    position: absolute;
    top: 15%;
    right: 3%;
    color: #fff;
    font-size: 18px;
    font-family: 'Dosis-Regular';
  }

.sm-logo {
  width: 40px;
  position: absolute;
  right: -8px;
  z-index: 9;
  top: 40px;
}
.profile-holder {
    display: inline-block;
    border: 2px solid #f1592a;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  img {
        border-radius: 50%;
    }
  .prof-img {
        width: 220px;
    }
}

.profile-block {
    bottom: 92px;
    left: 7%;
    position: absolute;
}
.quarter-circle{
  height: 130px;
  top: 5px;
  left: -30px;
  width: 130px;
  border-radius: 150px 0 0 0;
  border-left: 15px solid #f1592a;
  border-top: 15px solid #f1592a;
  position: absolute;
  top: -26px;
}
.upload-trans {
  position: absolute;
  bottom: -32px;
  left: 50%;
  width: 87%;
  transform: translate(-50%, -50%);
  padding: 10px 30px 26px;
  background-color: rgba(0, 0, 0, 0.54);
  color: #fff;
  span{
    font-size: 16px;
    font-family: 'Dosis-Regular';
    img{
      border-radius: 0;
      width: 16px;
margin-right: 4px;
    }
  }
}

.select-box {
    background-color: #f1592a;
}
.btn-1{
  position: relative;
  display: inline-block;
      padding: 0 20px;

  .btn-select{
    background-color: transparent;
    border: 0;
      // padding: 9px 40px;
      //     padding: 16px 40px 10px;
          color: #fff;
            font-family: 'Dosis-Regular';
            font-size: 28px;
  }
}
.under-line{
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%,-5%);

opacity: 0;
img{
  width: 22px;
}

}
.under-down{
  border-bottom: 5px solid #191919;
  border-radius: 20px;
  // display: none;
  opacity: 0;
  position: relative;
bottom: -2px;
}
.btn-1:hover .under-down{
  // display: block;
  opacity: 1;
}
.btn-1:hover .under-line{
  // display: block;
  opacity: 1;
}
.display-inline{
  display: inline-block;
}
.holder1{
  position: relative;
  vertical-align: middle;
}
.name-sec{
  vertical-align: middle;
  color: #fff;
  padding: 0 20px;
  span{
    font-family: 'Dosis-Light';
    font-size: 34px;
  }
}

//about desc
.about-head{
  background-color: #777;
  border-radius: 5px 5px 0 0;
  color: #fff;
font-family: 'Dosis-Regular';
padding: 10px 30px;
font-size: 22px;
}
.about-desc{
  background-color: #fff;
  margin: 50px 150px;
  border-radius: 5px;
  .control-label{
    text-align: left;
  }
}
.abt-form{
    padding: 10px 40px 1px;
      letter-spacing: 0.5px;
  .form-group{
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    label{
      color: #f1592a;
      font-family: 'Dosis-Medium';

    }
    span{
      font-family: 'Dosis-Regular';
    }
    .check-label{
      font-family: 'Dosis-Regular';
      font-weight: 400;
      color: #000;
font-size: 18px;
    }
  }
  input{
    border: 0;
  }
img{
  vertical-align: bottom;
  margin-right: 5px;
}
.form-group:last-child{
    border-bottom: 0;
    padding: 0;
  }
}
.inline{
  display: inline;
}
.display-block{
  display: block;
}
.text-set{
  max-width: 70%;
  display: inline-block;
}
.vat{
  vertical-align: top;
}
.abt-sec2{
  background-color: #fff;
  padding: 10px 40px 1px;
}
.red-sec{
  background-color: #f1592a;
      padding: 10px 30px 1px;
      p{
        font-family: 'Dosis-Medium';
        font-size: 18px;
      }
}
.upgrade-sec{
  padding: 10px 30px 1px;
    text-align: center;
p{
  font-family: 'Dosis-Medium';
  font-size: 18px;
  letter-spacing: 0.5px;
}
}
.package-name{
  font-family: 'Dosis-Medium';
  font-size: 26px;
}
.package-price{
  font-family: 'Dosis-Light';
  font-size: 26px;
}
.pkg-info{
      vertical-align: -webkit-baseline-middle;
      text-align: left;
margin-left: 30px;
width: 45%;
}
.upgrade-pkg{
  margin-left: -12px;
// padding: 20px;
background: #ccc;
position: relative;
button{
  margin-top: 10px;
}
}
.upgrade-pkg:before{
    content:"";
  border-style: solid;
      border-width: 14px 12px 0px 12px;
      border-color: transparent #777 transparent transparent;
      position: absolute;
      left: -12px;
      top: -14px;
}
.upgrade-pkg2{
  margin-left: -12px;
// padding: 20px;
background: #f6ea74;
position: relative;
button{
  margin-top: 10px;
}
}
.upgrade-pkg2:before{
    content:"";
  border-style: solid;
      border-width: 14px 12px 0px 12px;
      border-color: transparent #a5981c transparent transparent;
      position: absolute;
      left: -12px;
      top: -14px;
}
.border-divider{
  border-left: 1px solid #000;
  ul>li{
    font-family: 'Dosis-Light';
    font-size: 18px;
line-height: 1.3;
  }
}
.upgrade-pkg2,.upgrade-pkg{
  button{
    font-family: 'Dosis-Regular';
    font-size: 18px;
  }
      padding: 20px 0 0px;
  ul{
    list-style: none;
  }
  li::before {
    content: "• ";
    color: #fff;
    font-size: 32px;
    vertical-align: sub;
    line-height: 0.4;
  }
}

.btn-full {
    width: 100%;
    background-color: #f1592a;
    color: #fff;
}
.sub-sec{
      padding-bottom: 15px;

      .btn-default{
        background-color: #f1592a;
        color: #fff;
        border-radius: 5px;
        font-family: 'dosis-regular';
font-size: 18px;
      }
}

//custom-check
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
      position: absolute;
      left: -1px;
      top: 5px;
      width: 13px;
      height: 13px;
      border: 1px solid #f1592a;
      background: #fff;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✓';
  position: absolute;
  top: 3px;
  left: 1px;
  font-size: 19px;
  line-height: 0.8;
  color: #f1592a;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.check-box{
  display: inline-block;
  color: #000;
  padding: 0 15px;
}
//end
.selected-option{
  background-color: #f1592a;
  padding: 7px 15px;
border-radius: 5px;
color: #fff;
}
.close-btn{
  display: inline-block;
      color: #fff;
      font-size: 14px;
      margin-left: 10px;
      vertical-align: text-bottom;
}
.border-line{
  border: 1px solid;
  padding: 10px 0;
  color: #fff;
}
.package-card{
  margin-top: 15px;
}
.img-edit{
  margin-top: 5px;
}
