    @import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
    @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
    @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
    @import "../../bower_components/flexslider/flexslider";
    @import "../../bower_components/font-awesome/scss/font-awesome";
    @import "../../bower_components/angular-ui-swiper/dist/angular-ui-swiper";
    @import "../../bower_components/fancyBox/source/jquery.fancybox";
    @import "../../bower_components/smart-app-banner/smart-app-banner";
    /* Bootstrap Variables Goes Here */
    
    $brand-primary: #0d9dff !default;
    $brand-success: #84ce3c !default;
    $brand-warning: #ffec39 !default;
    $brand-danger: #fc483f !default;
    $brand-info: #000072 !default;
    $orangeColor: #f4511e !default;
    $whiteColor: #ffffff !default;
    $lightBlackColor: rgba(55, 55, 55, 0.92);
    $borderRadius: 4px; // used to overwrite the inheritance for btn class mentioned in Node-framework
    @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
    @font-face {
        font-family: 'Glyphicons Halflings';
        src: url("../fonts/glyphicons-halflings-regular.eot");
        src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
    }
    
    @font-face {
        font-family: 'hs-semiBold';
        src: url("../fonts/HoneyScript-SemiBold.ttf");
    }
    
    @font-face {
        font-family: 'alegreya-light';
        src: url("../fonts/AlegreyaSans-Light.otf");
    }
    
    @font-face {
        font-family: 'hs-light';
        src: url("../fonts/HoneyScript-Light.ttf");
    }
    
    @font-face {
        font-family: 'damion-regular';
        src: url("../fonts/Damion-Regular.ttf");
    }
    
    @font-face {
        font-family: 'dosis-bold';
        src: url("../fonts/Dosis-Bold_0.ttf");
    }
    
    @font-face {
        font-family: 'dosis-extraBold';
        src: url("../fonts/Dosis-ExtraBold_0.ttf");
    }
    
    @font-face {
        font-family: 'dosis-extraLight';
        src: url("../fonts/Dosis-ExtraLight_0.ttf");
    }
    
    @font-face {
        font-family: 'dosis-light';
        src: url("../fonts/Dosis-Light_1.ttf");
    }
    
    @font-face {
        font-family: 'dosis-medium';
        src: url("../fonts/Dosis-Medium_0.ttf");
    }
    
    @font-face {
        font-family: 'dosis-regular';
        src: url("../fonts/Dosis-Regular_0.ttf");
    }
    
    @font-face {
        font-family: 'helveticalt';
        src: url("../fonts/HELVETICALT.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-black';
        src: url("../fonts/HELVETICALT-BLACK.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-bold';
        src: url("../fonts/HELVETICALT-BOLD.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-boldoblique';
        src: url("../fonts/HELVETICALT-BOLDOBLIQUE.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-compressed';
        src: url("../fonts/HELVETICALT-COMPRESSED.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-condensed';
        src: url("../fonts/HELVETICALT-CONDENSED.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-condensed-black';
        src: url("../fonts/HELVETICALT-CONDENSED-BLACK.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-condensed-bold';
        src: url("../fonts/HELVETICALT-CONDENSED-BOLD.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-condensed-light';
        src: url("../fonts/HELVETICALT-CONDENSED-LIGHT.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-condensed-oblique';
        src: url("../fonts/HELVETICALT-CONDENSED-OBLIQUE.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-light';
        src: url("../fonts/HELVETICALT-LIGHT.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-lightOblique';
        src: url("../fonts/HELVETICALT-LIGHTOBLIQUE.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-narrow';
        src: url("../fonts/HELVETICALT-NARROW.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-narrow-boldOblique';
        src: url("../fonts/HELVETICALT-NARROW-BOLDOBLIQUE.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-narrow-oblique';
        src: url("../fonts/HELVETICALT-NARROW-OBLIQUE.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-oblique';
        src: url("../fonts/HELVETICALT-OBLIQUE.OTF");
    }
    
    @font-face {
        font-family: 'helveticalt-ultraCompressed';
        src: url("../fonts/HELVETICALT-ULTRACOMPRESSED.OTF");
    }
    
    body {
        //padding-top: 70px;
        font-family: 'dosis-regular';
        font-size: 16px; // default size is 16px
        overflow-x: hidden!important; // It is must to keep it as an imp
    }
    
    // used for scroll Bar design
     ::-webkit-scrollbar {
        width: 5px;
        background-color: rgba(0, 0, 0, 0.80);
    }
    /* Track */
    
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    /* Handle */
    
     ::-webkit-scrollbar-thumb {
        background: $orangeColor;
        -webkit-box-shadow: inset 0 0 6px rgba(244, 81, 30, 0.5);
        box-shadow: inset 0 0 6px rgba(244, 81, 30, 0.5);
    }
    
     ::-webkit-scrollbar-thumb:window-inactive {
        background: $orangeColor;
    }
    
    //used for @extend
    .myBtnOrange {
        background-color: $orangeColor;
        color: $whiteColor;
        border-radius: $borderRadius;
        border-color: $orangeColor;
    }
    
    .myBtnDarkGray {
        background-color: $lightBlackColor;
        color: $whiteColor;
        border-radius: $borderRadius;
        border-color: $lightBlackColor;
    }
    
    .myBtnWhite {
        background-color: $whiteColor;
        color: $orangeColor;
        border-radius: $borderRadius;
        border-color: $whiteColor;
    }
    
    .myJumbotron {
        color: $whiteColor;
        background-color: transparent;
    }
    
    .mg {
        // margin top and bottom
        margin-top: 53px;
        margin-bottom: 53px;
    }
    
    // end of @extend classes
    img.loading {
        text-align: center;
        opacity: 1;
        width: 32px !important;
        height: auto;
    }
    
    img {
        opacity: 0;
        @include transition(all 300ms ease);
    }
    
    img.doneLoading {
        opacity: 1;
    }
    
    nav li:hover .dropdown-menu {
        display: block;
    }
    
    #map img {
        opacity: 1;
    }
    
    a,
    .btn,
    [ui-sref] {
        cursor: pointer;
        @include transition(all ease 300ms);
    }
    
    .flexslider {
        .flex-direction-nav {
            a {
                height: 100px;
                width: 125px;
                color: transparent;
                //  top: 36%;
                top: 38%;
            }
            // .flex-prev {
            //     &:before {
            //         content: url("../img/prev.png");
            //         display: block;
            //         height: 50%;
            //         @include transform(scale(.4));
            //     }
            .flex-prev {
                &:before {
                    content: url("../img/previous1.png");
                    display: block;
                    height: 50%;
                    //   @include transform(scale(.4));
                    @include transform(scale(.6));
                }
            }
            .flex-next {
                &:before {
                    content: url("../img/next1.png");
                    display: block;
                    height: 50%;
                    //@include transform(scale(.4));
                    @include transform(scale(.6));
                }
            }
        }
    }
    
    .flex-control-paging li a {
        background-color: rgba(255, 255, 255, 0.5);
    }
    
    .flex-control-paging li a.flex-active {
        background-color: #fff;
    }
    
    // footer section
    footer {
        // font-size: 12px;
        color: $whiteColor;
        // padding: 10px 0;
        a[target="_blank"] {
            color: $whiteColor;
            text-decoration: none;
        }
        .footer_bgup {
            // footer background up which includes black-gray background
            background-color: rgba(55, 55, 55, 0.92);
            .footer_padd {
                display: inline-block;
                padding-top: 35px;
                padding-bottom: 35px;
                h3 {
                    font-family: 'dosis-light';
                }
                .input-group {
                    .form-control {
                        height: 43px;
                        background-color: transparent;
                    }
                    .input-group-btn {
                        .btn {
                            height: 43px;
                            background-color: $orangeColor;
                            color: $whiteColor;
                            border-color: $orangeColor;
                        }
                    }
                }
                .list-group-item {
                    font-family: 'dosis-extraLight';
                    background-color: transparent;
                    border: none;
                }
                .soc_icns {
                    display: inline-block;
                    width: 40%;
                    p {
                        margin-top: 14px;
                    }
                }
            }
        }
        .footer_bgdw {
            // footer background down which includes orange background
            font-family: 'dosis-medium';
            font-size: 12px;
            background-color: $orangeColor;
            height: 50px;
            @include display (flex); // this property used to align the elements vertically center
            @include flex-direction(column); // this property used to align the elements vertically center
            @include justify-content(center); // this property used to align the elements vertically center
            p {
                margin: 0;
                a {
                    color: $whiteColor;
                }
                a:hover {
                    color: $whiteColor;
                }
            }
        }
    }
    
    // end of footer section
    //bootstrap forms
    .input-lg,
    .input-group-lg>.form-control,
    .input-group-lg>.input-group-addon,
    .input-group-lg>.input-group-btn>.btn,
    .btn,
    .form-control {
        border-radius: 0;
        @include box-shadow(none);
    }
    
    .form-control:focus {
        border-color: $brand-primary;
        outline: 0;
        @include box-shadow(none);
    }
    
    .form-group {
        position: relative;
    }
    
    .form-invalid {
        color: $brand-danger;
        .form-control {
            border-color: $brand-danger;
            color: $brand-danger;
            &::-webkit-input-placeholder {
                color: $brand-danger;
            }
        }
    }
    
    .form-submission {
        min-height: 300px;
    }
    
    //FLEX SLIDER FIXES
    .flex-direction-nav {
        a {
            height: auto;
        }
        .flex-prev {
            // left: 10px !important;
            left: -65px !important;
        }
        .flex-next {
            // right: 10px !important;
            right: -65px !important;
        }
    }
    /* Start writing sass here */
    
    .content {
        min-height: 450px;
    }
    
    .img-full {
        width: 100%;
        display: block;
    }
    
    // Header section which includes navbar design
    header>nav.navbar {
        margin-bottom: 0!important;
    }
    
    header>nav>div.navbar-header>button.navbar-toggle {
        display: none;
    }
    
    .navbar-default {
        background-color: $whiteColor;
        border: none;
        position: relative;
    }
    
    header>nav a.navbar-brand>div.navbar-toggle {
        width: 44px;
        position: relative;
        left: 3px;
        top: -2px;
        display: block;
        float: left;
        border: none;
    }
    
    header>nav a.navbar-brand>div.navbar-toggle:hover {
        background-color: $whiteColor;
    }
    
    header>nav a.navbar-brand>div.navbar-toggle>div.icon_float {
        float: right;
    }
    
    header>nav a.navbar-brand>div.navbar-toggle>div.icon_float>span.icon_bar1 {
        float: right;
        width: 26px;
        height: 4px;
        background-color: $orangeColor;
    }
    
    header>nav a.navbar-brand>div.navbar-toggle>div.icon_float>span.icon_bar2 {
        float: right;
        width: 23px;
        height: 4px;
        background-color: $orangeColor;
    }
    
    header>nav a.navbar-brand>div.navbar-toggle>div.icon_float>span.icon_bar3 {
        float: right;
        width: 20px;
        height: 4px;
        background-color: $orangeColor;
    }
    
    // for clickmania logo adjustment which includes boot strap's class navbar-brand
    a.navbar-brand {
        height: auto;
        .navbar-toggle {
            margin-bottom: 0;
            padding-right: 0px;
            margin-bottom: 0px;
        }
        .cmlogo {
            width: 230px;
        }
    }
    
    // end of clickmania logo adjustment
    // search bar
    .Search_bar {
        padding-top: 18px;
        padding-bottom: 15px;
        .input-group {
            .form-control {
                height: 36px;
            }
            .input-group-btn {
                button {
                    background-color: $orangeColor;
                    border-color: $orangeColor;
                    .fa-search:before {
                        font-size: 20px;
                        color: $whiteColor;
                    }
                }
            }
        }
    }
    
    // end of search bar
    // To display photographer's image(user image)
    .photographer {
        padding-top: 18px;
        padding-bottom: 15px;
        cursor: pointer;
        .photographer_img {
            width: 38px;
            display: inline-block;
            padding-right: 6px;
        }
        span {
            display: inline-block;
            vertical-align: super;
            letter-spacing: 1px;
            text-align: justify;
        }
    }
    
    //end display photographer's image(user image)
    // This section contains main background image with hamberger menu
    .swiper-container {
        position: relative;
        background: -ms-linearGradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background: -moz-linearGradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background: -webkit-linearGradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        .swiper-button-next {
            background-image: url(/../frontend/img/rt_arrow.png);
            top: 59%;
        }
        .swiper-button-prev {
            background-image: url(/../frontend/img/lt_arrow.png);
            top: 59%;
        }
        .bg_main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
            .jumbotron {
                border: none;
                border-radius: 0;
                background-color: transparent;
                color: $whiteColor;
                h2 {
                    font-family: 'hs-semiBold';
                    white-space: nowrap;
                    font-size: 80px;
                    line-height: 55px;
                    height: 135px;
                }
                .input-group {
                    .form-control {
                        height: 45px;
                    }
                    .input-group-btn {
                        button {
                            background-color: $orangeColor;
                            border-color: $orangeColor;
                            height: 45px;
                            .fa-search:before {
                                font-size: 20px;
                                color: $whiteColor;
                            }
                        }
                    }
                }
            }
        }
        // .scroll_img {
        //     // Used to position scroll down image
        //     width: 100%;
        //     display: inline-block;
        //     position: relative;
        //     top: -68px;
        //     z-index: 99;
        //     p {
        //         font-family: 'alegreya-light';
        //         text-transform: capitalize;
        //         color: $whiteColor;
        //         cursor: pointer;
        //     }
        // }
    }
    
    .scroll_down {
        // Used to position scroll down automatically to next div
        position: relative;
        top: -63px;
        z-index: 99;
        cursor: pointer;
        p {
            font-family: 'alegreya-light';
            font-weight: 900;
            text-transform: capitalize;
            color: $whiteColor;
        }
        hr {
            margin-top: 0;
            margin-bottom: 0;
            border: none;
        }
        hr:after {
            content: '';
            background-size: cover;
            background-position: center center;
            display: inline-block;
            width: 60px;
            height: 60px;
            background-image: url(/../frontend/img/scroll.png);
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
    
    // It contains feature photographer flex-slider
    .featu_photo_caraso {
        @extend .mg;
        position: relative;
        .flexslider {
            margin-bottom: 29px;
        }
        .fp_padd_rl {
            // It will give you padding right & left 25px for flex-slider
            padding: 0 25px;
            h2 {
                font-family: 'damion-regular';
                color: $orangeColor;
                font-size: 57px;
                margin-bottom: 24px;
            }
            .head-f {
                position: relative;
                top: 8px;
                left: -45px;
                margin-bottom: 0;
            }
            .fp_width {
                width: 343px!important;
                .fp_innerPadd {
                    position: relative;
                    box-sizing: border-box;
                    padding: 10px;
                    margin-bottom: 5px;
                    -moz-box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.26);
                    -ms-box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.26);
                    -webkit-box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.26);
                    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.26);
                    // box-shadow: inset 0 0 10px #000000;
                    .fp_user_icn {
                        position: absolute;
                        width: 80%;
                        color: $whiteColor;
                        margin: 0 auto;
                        top: 50px;
                        left: 0;
                        right: 0;
                        .border-half {
                            border: 7px solid $orangeColor;
                            border-radius: 50%;
                            width: 150px;
                            padding: 5px;
                            margin: auto;
                            border-top: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            @include transform(rotate(57deg));
                            img {
                                display: inline-block;
                                border-radius: 50%;
                                width: 125px;
                                border: 3px solid $orangeColor;
                                @include transform(rotate(-57deg));
                            }
                        }
                        h3,
                        p {
                            margin-top: 0;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .view_prof_btn {
                padding: 7px 0;
                button.btn {
                    // background-color: $orangeColor;
                    @extend .myBtnOrange;
                }
            }
            .fp_viewAll_btn {
                margin-bottom: 25px;
                button {
                    // 
                    @extend .myBtnDarkGray;
                }
            }
        }
        .flex-control-nav {
            display: none!important; // for dots navigation 
        }
    }
    
    //end feature photographer flex-slider
    // start of photo contest section
    .pht_contest {
        position: relative;
        background-image: url(../img/photo_contest2.jpg);
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 400px;
        background-repeat: no-repeat;
        // .camera_img {
        //     background-image: url(../img/photo_contest1.png);
        //     width: 100px;
        //     height: 100px;
        //     background-repeat: no-repeat;
        // }
        .camera_img {
            position: relative;
            top: -36px;
        }
        .jumbotron {
            @extend .myJumbotron;
            padding-top: 0!important;
            .ht100 {
                position: relative;
                height: 100px;
                margin-top: -20px;
                margin-bottom: 10px;
                h2 {
                    font-family: 'damion-regular';
                    font-size: 65px;
                    font-weight: 500;
                }
                h2:nth-child(odd) {
                    color: $whiteColor;
                    margin: 0 0;
                }
                h2:nth-child(even) {
                    color: $orangeColor;
                    white-space: nowrap;
                    position: absolute;
                    text-indent: 97px;
                    top: 44px;
                    margin: 0 0;
                }
            }
            .pht_contest_btn {
                button {
                    @extend .myBtnWhite;
                }
            }
        }
        .compete_btn {
            // used for static position
            position: fixed;
            top: 163px;
            transform: rotate(-90deg);
            right: 10px;
            z-index: 1031; // set it to this no kz navbar z-index is 1030
            width: 0;
            .whit-btn {
                padding: 9px 12px; // rt & lt padding changed 
                font-family: inherit;
                width: 153px;
                border: 1px solid $orangeColor;
            }
        }
    }
    
    // end of photo contest section
    // start of section categories
    .categories {
        background-image: url(../img/cat1.jpg);
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: auto;
        background-repeat: no-repeat;
        .mt_53 {
            // used for categories.html page
            margin-top: 53px;
        }
        .ht30 {
            display: inline-block;
            // height: 130px;
            position: relative;
            .imgwt {
                position: absolute;
                top: -25px;
                left: -71px;
                transform: rotate(79deg);
                width: 130px;
            }
            h2 {
                position: relative;
                font-family: 'damion-regular';
                font-size: 65px;
                font-weight: 500;
                color: $whiteColor;
            }
        }
        .all_cate {
            display: inline-block;
            @extend .mg;
            .padd_rt {
                // need to change in col-xs 
                padding-right: 0;
            }
            .padd_lt {
                // need to change in col-xs 
                padding-left: 0;
            }
            button {
                margin-top: 50px;
                @extend .myBtnOrange;
            }
            .btn:hover {
                @extend .myBtnOrange;
            }
        }
    }
    
    // end of section categories
    //start of section sign up
    .signup {
        position: relative;
        .img_relative {
            position: relative;
            top: -108px;
            width: 400px;
            z-index: -3;
            display: inline-block;
        }
        h2 {
            font-family: 'damion-regular';
            font-size: 65px;
            color: black;
            font-weight: 500;
        }
        .cam_heading {
            position: relative;
            height: 101px;
            margin-top: 51px;
            margin-bottom: 18px;
            h2:nth-child(odd) {
                margin-bottom: 0;
            }
            h2:nth-child(even) {
                margin-top: 0;
                color: $orangeColor;
                text-indent: 52px;
                position: relative;
                top: -35px;
                z-index: -3;
            }
            h2:nth-child(even):after {
                content: '\3F';
                color: $orangeColor;
                top: -79px;
                position: absolute;
                color: #f4511e;
                font-size: 155px;
            }
        }
        button {
            @extend .myBtnOrange;
        }
        button:hover {
            @extend .myBtnOrange;
        }
        // h2:before {
        //     //   content: "Camera";
        //     color: $orangeColor;
        //     position: relative;
        //     bottom: -38px;
        //     left: 234px;
        //     display: inline-block;
        //     z-index: -3;
        // }
        .img_absolute {
            position: absolute;
            width: 40%;
            height: auto;
            top: -25px;
            z-index: -4;
            right: -19px;
            display: inline-block;
        }
    }
    
    //end of section sign up
    // start of Artist of the month section
    .atm {
        // artist of the month
        position: relative;
        background-image: url(../img/atm.png);
        width: 100%;
        height: 447px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        .head-f {
            top: 14px;
        }
        .bg_img {
            position: relative;
            top: 90px;
            .user-ab {
                top: 24%;
                .border-half {
                    width: 250px;
                    .profile-f-img {
                        width: 250px;
                    }
                }
            }
            .abslt {
                // used to adjust the logo
                width: 53px;
                position: absolute;
                bottom: -27px;
                @include transform(rotate(3deg));
                left: -27px;
            }
        }
        .user_info {
            // artist of the month user info
            padding-top: 100px;
            line-height: 20px;
            h2 {
                color: $whiteColor;
            }
            p {
                color: $lightBlackColor;
                text-align: justify;
            }
            .whit-btn {
                font-family: inherit;
            }
        }
    }
    
    // end of Artist of the mont section
    // start of testimonial
    .testimonial {
        position: relative;
        background-image: url(../img/testi.jpg);
        width: 100%;
        height: 400px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        .abslt_lt {
            // used for quotation mark image
            position: absolute;
            left: 34px;
            top: 90px;
            width: 53px;
            z-index: 5;
            // transform: rotate(-35deg);
        }
        .abslt_rt {
            // used for downside logo image
            position: absolute;
            right: -12px;
            bottom: 43px;
            width: 53px;
            transform: rotate(-35deg);
        }
        h2 {
            font-family: 'damion-regular';
            font-size: 65px;
            color: $whiteColor;
            font-weight: 500;
        }
        .flex-direction-nav a {
            display: none;
        }
        .flex-control-nav {
            display: none;
        }
        .padd63 {
            position: relative;
            text-align: justify;
            box-sizing: border-box;
            padding: 15px 63px;
            line-height: 19px;
            // p:first-child:before {
            //     // used for quotation mark
            //     content: "\0022";
            //     font-family: 'damion-regular';
            //     color: $orangeColor;
            //     position: absolute;
            //     font-size: 105px;
            //     transform: rotate(180deg);
            //     top: -22px;
            //     left: 38px;
            // }
            p:last-child {
                color: $orangeColor;
                text-transform: capitalize;
            }
        }
    }
    
    // end of testimonial 
    @import "fancybox-override";
    @import "rishabh";
    @import "feature-photo";
    @import "mobile";