    @import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
    @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
    @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
    @import "../../bower_components/flexslider/flexslider";
    @import "../../bower_components/font-awesome/scss/font-awesome";
    @import "../../bower_components/angular-ui-swiper/dist/angular-ui-swiper";
    @import "../../bower_components/fancyBox/source/jquery.fancybox";
    @import "../../bower_components/smart-app-banner/smart-app-banner";
    /* Bootstrap Variables Goes Here */

    $brand-primary: #0d9dff !default;
    $brand-success: #84ce3c !default;
    $brand-warning: #ffec39 !default;
    $brand-danger: #fc483f !default;
    $brand-info: #000072 !default;
    @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
    @font-face {
        font-family: 'Glyphicons Halflings';
        src: url("../fonts/glyphicons-halflings-regular.eot");
        src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
    }

    body {
        //padding-top: 70px;
        font-family: sans-serif;
        font-size: 16px; // default size is 16px
        overflow-x: hidden!important; // It is must to keep it as an imp
    }

    img.loading {
        text-align: center;
        opacity: 1;
        width: 32px !important;
        height: auto;
    }

    img {
        opacity: 0;
        @include transition(all 300ms ease);
    }

    img.doneLoading {
        opacity: 1;
    }

    nav li:hover .dropdown-menu {
        display: block;
    }

    #map img {
        opacity: 1;
    }

    a,
    .btn,
    [ui-sref] {
        cursor: pointer;
        @include transition(all ease 300ms);
    }

    footer {
        font-size: 12px;
        background-color: #eee;
        padding: 10px 0;
        p {
            margin: 0;
        }
    }

    //bootstrap forms
    .input-lg,
    .input-group-lg>.form-control,
    .input-group-lg>.input-group-addon,
    .input-group-lg>.input-group-btn>.btn,
    .btn,
    .form-control {
        border-radius: 0;
        @include box-shadow(none);
    }

    .form-control:focus {
        border-color: $brand-primary;
        outline: 0;
        @include box-shadow(none);
    }

    .form-group {
        position: relative;
    }

    .form-invalid {
        color: $brand-danger;
        .form-control {
            border-color: $brand-danger;
            color: $brand-danger;
            &::-webkit-input-placeholder {
                color: $brand-danger;
            }
        }
    }

    .form-submission {
        min-height: 300px;
    }

    //FLEX SLIDER FIXES
    .flex-direction-nav {
        a {
            height: auto;
        }
        .flex-prev {
            left: 10px !important;
        }
        .flex-next {
            right: 10px !important;
        }
    }
    /* Start writing sass here */

    .content {
        min-height: 450px;
    }

    .img-full {
        width: 100%;
        display: block;
    }

    // Header section which includes navbar design
    $orangeColor: #f4511e;
    $whiteColor: #ffffff;
    header>nav.navbar {
        margin-bottom: 0!important;
    }

    header>nav>div.navbar-header>button.navbar-toggle {
        display: none;
    }

    .navbar-default {
        background-color: transparent;
        position: relative;
    }

    header>nav a.navbar-brand>div.navbar-toggle {
        width: 44px;
        position: relative;
        left: 3px;
        top: -2px;
        display: block;
        float: left;
        border: none;
    }

    header>nav a.navbar-brand>div.navbar-toggle>div.icon_float {
        float: right;
    }

    header>nav a.navbar-brand>div.navbar-toggle>div.icon_float>span.icon_bar1 {
        float: right;
        width: 26px;
        height: 4px;
        background-color: $orangeColor;
    }

    header>nav a.navbar-brand>div.navbar-toggle>div.icon_float>span.icon_bar2 {
        float: right;
        width: 23px;
        height: 4px;
        background-color: $orangeColor;
    }

    header>nav a.navbar-brand>div.navbar-toggle>div.icon_float>span.icon_bar3 {
        float: right;
        width: 20px;
        height: 4px;
        background-color: $orangeColor;
    }

    // for clickmania logo adjustment which includes boot strap's class navbar-brand
    a.navbar-brand {
        height: auto;
        .navbar-toggle {
            margin-bottom: 0;
            padding-right: 0px;
            margin-bottom: 0px;
        }
        .cmlogo {
            width: 230px;
        }
    }

    // end of clickmania logo adjustment
    // search bar
    .Search_bar {
        padding-top: 18px;
        padding-bottom: 15px;
        .input-group {
            .form-control {
                height: 36px;
            }
            .input-group-btn {
                button {
                    background-color: $orangeColor;
                    border-color: $orangeColor;
                    .fa-search:before {
                        font-size: 20px;
                        color: $whiteColor;
                    }
                }
            }
        }
    }

    // end of search bar
    // To display photographer's image(user image)
    .photographer {
        padding-top: 18px;
        padding-bottom: 15px;
        cursor: pointer;
        .photographer_img {
            width: 38px;
            display: inline-block;
            padding-right: 6px;
        }
        span {
            display: inline-block;
            vertical-align: super;
            letter-spacing: 1px;
            text-align: justify;
        }
    }

    //end display photographer's image(user image)
    // This section contains main background image with hamberger menu
    .swiper-container {
        position: relative;
        background: -ms-linearGradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background: -moz-linearGradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background: -webkit-linearGradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        .bg_main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
            .jumbotron {
                border: none;
                border-radius: 0;
                background-color: transparent;
                color: $whiteColor;
            }
        }
    }

    @import "fancybox-override";
    @import "rishabh";
    @import "featurePhoto";
    @import "mobile";
